@font-face {
  font-family: "Digital-7";
  src: url("fonts/digital-7.ttf") format("woff2"),
    url("fonts/digital-7.woff") format("woff");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toggle-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50%;
  transition: left 0.3s ease;
}

#toggle:checked + .toggle-label {
  background-color: #ccc;
}

#toggle:checked + .toggle-label:before {
  left: calc(100% - 28px);
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50%;
  transition: left 0.3s ease;
}

#toggle:checked + .toggle-label {
  background-color: #ccc;
}

#toggle:checked + .toggle-label:before {
  left: calc(100% - 28px);
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #141e30;
  border-radius: 50%;
  transition: left 0.3s ease;
}

/* #toggle:checked + .toggle-label {
  background-color: #2196F3;
} */

#toggle:checked + .toggle-label {
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
  background-size: 200% auto;
  animation: liquidAnimation 10s ease infinite;
}

@keyframes liquidAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#toggle:checked + .toggle-label:before {
  left: calc(100% - 28px);
}

/* .clockdate-wrapper {
  background: #141e30;
  padding: 80px;
  max-width: 750px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
} */

.clockdate-wrapper {
  padding: 80px;
  max-width: 750px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
  background-size: 200% auto;
  animation: gradientAnimation 10s ease infinite;
  position: relative;
  overflow: hidden;
}

.clockdate-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0) 60%);
  animation: bubblesAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bubblesAnimation {
  0% {
    top: -10%;
    left: -10%;
  }
  50% {
    transform: translate(10%, 10%);
  }
  100% {
    top: 110%;
    left: 110%;
  }
}

#clock {
  font-family: Digital-7, sans-serif;
  font-size: 180px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

#clock span {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 1px #333;
  font-size: 150px;
  position: relative;
  top: -15px;
  left: 30px;
}

#date {
  letter-spacing: 3px;
  font-size: 42px;
  font-family: arial, sans-serif;
  color: #fff;
}

#toggle {
  display: none;
}